body {
    height: 100vh;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 50px;
}

p {
    font-size: 30px;
    text-align: left;
    margin-left: 40px;
}

header {
    padding-left: 20px;
    padding-top: 5px;
}

.userInput {
    font-family: "Pixelify Sans", sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    border: solid 2px #333
}

.chatbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid 2px #333;
    background: linear-gradient(#aee7ff, #7ddcff);
}

.chatbox footer {
  display: flex;
  padding: 0.5rem;
  background: #f5b5a6;
  align-items: center;
  gap: 0.5rem;
}

.chatbox footer input {
  flex: 1;
  padding: 0.6rem;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  outline: none;
}

.chatbox footer button {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #6a2e2e;
  transition: transform 0.1s ease;
}

.chatbox footer button:hover {
  transform: scale(1.2);
}


.messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}


.status {
    text-align: center;
    margin-top: -50px;
    margin-bottom: -10px;
 }

.moodtracker{
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url(assets/bg-half.png) no-repeat center center;
  background-size: cover;
}

.avatar {
    height: auto;
    width: 400px;
    display: block;
    image-rendering: pixelated;
    margin: 0 auto;
}